<div class="container">
  <div class="titles mt-5 mb-4">
    <h1 class="title is-1 mb-1">痩せよう（一時的に）</h1>
    <h2 class="title is-3 mb-5">話題の（多分）BREATHDIET</h2>
  </div>

  <%#= image_tag 'top.png', size: "300x300" %>

  <div class="top-menu">
    <%= link_to 'タイトル', "#", class: "button is-large m-4" %><br>
    <%= link_to 'title', "#", class: "button is-large" %>
  </div>

  <ul class="policy mt-6 mb-5">
    <li><%= link_to "利用規約","#" %><li>
    <li><%= link_to "プライバシーポリシー", "#" %><li>
    <li><%= link_to "お問い合わせ", "#" %></li>
  </ul>
</div>
